body {
	background-color: rgb(18, 29, 23);
	color: gold;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1,
h3 {
	text-align: center;
}

nav {
	display: flex;
	justify-content: center;
}

a {
	color: cornsilk;
	margin: 0px 20px;
}

a:hover {
	color: red;
}
